.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

@media (max-width: 966px) {
  nav {
    padding: 5px;
  }
}

* {
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif, sans-serif;
}